i {
    color: red;
    font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */

}

html {
    font-family: 'Montserrat', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1, h2, h3, h4, p {

}

image {
    
}